:root {
  --primary-color: #302ae6;
  --secondary-color: #536390;
  --font-color: #424242;
  --bg-color: #faf9f6;
  --heading-color: #292922;
  --windows: #333333;
  --moon-sun: #ffe680ff;
  --floor: #dda0dd;
}

[data-theme="dark"] {
  --primary-color: #9a97f3;
  --secondary-color: #818cab;
  --font-color: #e1e1ff;
  --bg-color: #161625;
  --heading-color: #818cab;
  --windows: #ffe680ff;
  --moon-sun: #faf9f6;
  --floor: #9a97f3;
}

html {
  font-family: "Reenie Beanie", cursive;
  font-size: calc(1em + 0.5vw);
  color: var(--font-color);
  line-height: 1.5;
  background: var(--bg-color);
  padding-left: 3rem;
  padding-right: 3rem;
}
* + * {
  margin-top: 1.5rem;
}
h1,
h2,
h3,
h4 {
  font-family: "Cabin Sketch", cursive;
  line-height: 1.1;
}
nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2rem;
  padding-inline-start: 0;
}
nav a {
  color: var(--font-color);
}
nav ul * + * {
  margin-top: 0;
}
nav li:first-child {
  margin-right: auto;
}
svg {
  width: 100%;
}
.hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.hero :last-child {
  max-width: 20rem;
}
.windows {
  fill: var(--windows);
}
.moon {
  fill: var(--moon-sun);
}
.floor {
  fill: var(--floor);
}
/*Simple css to style it like a toggle switch*/
.theme-switch {
  display: inline-flex;
  height: 34px;
  position: relative;
}

.theme-switch input {
  opacity: 0;
  pointer-events: none;
}

.theme-switch b {
  font-size: 0;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: plum;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
  width: 60px;
}

.slider.round:before {
  border-radius: 50%;
}
